# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependency directories
/.pnp
.pnp.js
# Ignore .terraform directories anywhere in the project
**/.terraform/

**/gen/
**/bin/
# .tfstate files
*.tfstate
*.tfstate.*

# Build output
dist/
build/
docs/.vitepress/cache/

# Environment variables
.env
.env.local
.env.*.local
**/secret.auto.tfvars

# IDE files
.idea/
.vscode/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db